.container {
    padding: 100px 0;
}

.title-about {
    padding-bottom: 30px;
}

.title-about h2 {
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    text-align: center;
}

.title-about h2 span {
    color: #57cbcc;
}

.border-about {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 72%;
    font-size: 30px;
}

.border-about:before {
    background-color: #fff;
    content: '';
    height: 6px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: -4px;
    width: 50px;
    background-color: #57cbcc;
}
