.footer-bottom {
    height: 150px;
    background-color: #171717;
    text-align: center;
}

.footer-bottom .copyright span {
    margin-top: 75px;
    font-size: 14px;
    color: #737f8a;
    display: inline-block;
}

.footer-bottom .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(255, 255, 255, 0.1);
}

.footer-bottom .copyright span:last-child::after {
    display: none;
}
